.container {
    min-width: max-content;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.button-row {
    display: flex;
    justify-content: center;
}

.btn {
    width: 12em;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 4px;
}